@media (max-width: 1340px) {
	
}
@media (max-width: 1280px) {
	
}
@media (max-width: 1200px) {
	
}

@media (max-width: 1023px) {

}

@media (max-width: 979px) {
	
}

@media (max-width: 899px) {

}

@media (max-width: 799px) {

}

@media (max-width: 767px) {
	
}

@media (max-width: 679px) {
	
}

@media (max-width: 639px) {
	
}

@media (max-width: 599px) {
	
}

@media (max-width: 560px) {
	
}

@media (max-width: 479px){
	
}

@media (max-width: 359px) {
	
}

@media (max-width: 319px) {
	
}